<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Resume</title>
    <link type="text/css" rel="stylesheet" href="/css/blue.css" />
    <link type="text/css" rel="stylesheet" href="/css/print.css" media="print"/>
    <!--[if IE 7]>
    <link href="/css/ie7.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if IE 6]>
    <link href="/css/ie6.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <style>
    </style>
    <script type="text/javascript" src="/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/js/cufon.yui.js"></script>
    <script type="text/javascript" src="/js/scrollTo.js"></script>
    <script type="text/javascript" src="/js/myriad.js"></script>
    <script type="text/javascript" src="/js/jquery.colorbox.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript">
		Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
    <div class="wrapper-top"></div>
    <div class="wrapper-mid">
        <!-- Begin Paper -->
        <div id="paper">
            <div class="paper-top"></div>
            <div id="paper-mid">
                <div class="entry">
                    <!-- Begin Image -->
                    <img class="portrait" src="{{user.photoUrl}}" alt="John Smith" />
                    <!-- End Image -->
                    <!-- Begin Personal Information -->
                    <div class="self">
                        <h1 class="name">{{user.name}} <br />
                            <span>{{user.currentJob}}</span></h1>
                        <ul>
                            <li class="ad">{{user.location}}</li>
                            <li class="mail">{{user.email}}</li>
                            <li class="tel">{{user.telepone}}</li>
                            <li class="web">{{user.linkedin}}</li>
                        </ul>
                    </div>
                    <!-- End Personal Information -->
                    <!-- Begin Social -->
                    <div class="social">
                        <ul>
<!--                            <li><a class='north' href="#" title="Download .pdf"><img src="/images/icn-save.jpg" alt="Download the pdf version" /></a></li>-->
<!--                            <li><a class='north' href="javascript:window.print()" title="Print"><img src="/images/icn-print.jpg" alt="" /></a></li>-->
<!--                            <li><a class='north' id="contact" href="contact/index.html" title="Contact Me"><img src="/images/icn-contact.jpg" alt="" /></a></li>-->
<!--                            <li><a class='north' href="#" title="Follow me on Twitter"><img src="/images/icn-twitter.jpg" alt="" /></a></li>-->
<!--                            <li><a class='north' href="#" title="My Facebook Profile"><img src="/images/icn-facebook.jpg" alt="" /></a></li>-->
                        </ul>
                    </div>
                    <!-- End Social -->
                </div>
                <!-- Begin 1st Row -->
                <div class="entry">
                    <h2>OBJECTIVE</h2>
                    <p>{{user.descriptions}}</p>
                </div>
                <!-- End 1st Row -->
                <!-- Begin 2nd Row -->
                <div class="entry">
                    <h2>EDUCATION</h2>
                    {{#user.educations}}
                    <div class="content">
                            <h3>{{years}}</h3>
                            <p>{{institution}}<br />
                                <em>{{grade}}</em></p>
                    </div>
                    {{/user.educations}}
                </div>
                <!-- End 2nd Row -->
                <!-- Begin 3rd Row -->
                <div class="entry">
                    <h2>EXPERIENCE</h2>
                    {{#user.jobHistory}}
                        <div class="content">
                            <h3>{{startYears}} - {{endYears}}</h3>
                            <p>{{company}} <br />
                                <em>{{position}}</em></p>
                            <ul class="info">
                                <li>{{jobDesc}}</li>
                            </ul>
                        </div>
                    {{/user.jobHistory}}
                </div>
                <!-- End 3rd Row -->
                <!-- Begin 4th Row -->
                <div class="entry">
                    <h2>SKILLS</h2>
                    <div class="content">
                        <h3>Languages / Frameworks</h3>
                        {{#user.skillset}}
                            <ul class="skills">
                                <li>{{name}}</li>
                            </ul>
                        {{/user.skillset}}
                    </div>
                </div>
                <!-- End 4th Row -->
                <!-- Begin 5th Row -->
<!--                <div class="entry">-->
<!--                    <h2>WORKS</h2>-->
<!--                    <ul class="works">-->
<!--                        <li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>-->
<!--                        <li><a href="images/2.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>-->
<!--                        <li><a href="images/3.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>-->
<!--                        <li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>-->
<!--                        <li><a href="images/2.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>-->
<!--                        <li><a href="images/3.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>-->
<!--                        <li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>-->
<!--                        <li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>-->
<!--                    </ul>-->
<!--                </div>-->
                <!-- Begin 5th Row -->
            </div>
            <div class="clear"></div>
            <div class="paper-bottom"></div>
        </div>
        <!-- End Paper -->
    </div>
    <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>